body{
  background-color: #fff;
  font-size: 16px;
  color: $text_color;
  min-width: 320px;
  font-weight: 400;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: $text_color;
  display: inline-block;
  line-height: 1.5;
  &:hover{
    text-decoration: none;
    color: $text_color;
  }
}

p {
  word-break: break-word;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle{
  font-weight: 600;
  line-height: $h_line_height;
  word-break: break-word;
}

h2, .title{
  font-size: 48px;
  padding-bottom: 60px;
}

.title{
  text-align: center;
  letter-spacing: 1px;
}

h3, .subtitle{
  font-size: 36px;
  padding-bottom: 40px;
}

h4{
  font-size: 24px;
  padding-bottom: 30px;
}

h5{
  font-size: 20px;
  padding-bottom: 30px;
}

h6{
  font-size: 18px;
  padding-bottom: 30px;
}

strong {
  font-weight: bold;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1270px;
}

img {
  max-width: 100%;
  display: block;
}