body{
  background-color: #fff;
  font-size: 16px;
  color: $text_color;
  min-width: 320px;
  font-weight: 400;
  font-family: 'Flink', Arial, sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: $text_color;
  display: inline-block;
  line-height: 1.5;
  &:hover{
    text-decoration: none;
    color: $text_color;
  }
}

p {
  word-break: break-word;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle{
  font-weight: 500;
  line-height: 1.2;
  word-break: break-word;
}

h2, .title{
  font-size: 48px;
  padding-bottom: 60px;
}

.title{
  text-align: center;
  letter-spacing: 1px;
}

h3, .subtitle{
  font-size: 36px;
  padding-bottom: 40px;
}

h4{
  font-size: 24px;
  padding-bottom: 30px;
}

h5{
  font-size: 20px;
  padding-bottom: 30px;
}

h6{
  font-size: 18px;
  padding-bottom: 30px;
}

strong {
  font-weight: bold;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex_wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  .col{
    padding: 0 15px;
  }
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.text_right {
  text-align: right !important;
}

.main_color{
  color: $main_color!important;
}


/*----------------buttons---------------*/
.button{
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: $main_color;
  border-radius:5px;
  padding: 10px 22px;
  letter-spacing: 0.05em;
  transition: 0.5s all ease;
  font-size: 17px;
  &:hover{
    opacity: 0.8;
    color: #fff;
  }
  &.referral_btn {
    font-size: 14px;
    display: block;
    margin: 0 auto;
  }
}

.show_more_btn{
  color: $main_bg_color;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  border-bottom: 3px solid $main_bg_color;
  padding-bottom: 6px;
  transition: 0.5s all ease;
  cursor: pointer;
  &:hover{
    opacity: 0.6;
  }
}

.full_time_btn{
  color: #66C8BB;
  font-weight: bold;
  border: 2px solid #BCEDE5;
  border-radius: 5px;
  padding: 10px 26px;
  white-space: nowrap;
  display: inline-block;
}


/*--------------social------------------*/
.google, .facebook, .instagram, .twitter, .linkedin-in, .whatsapp, .youtube,
.comment_btn, .send_all_btn, .share_btn{
  position: relative;
  color: $main_color;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  transition: 0.5s ease;
  font-size: 20px;
  margin-right: 20px;
  font-weight: normal;
  &:hover {
    opacity: 0.8;
  }
}

.social {
  a:last-of-type {
    margin-right: 0;
  }
}

.google::before {
  content: '\f0d5';
  font-family: FontAwesome;
}

.facebook::before {
  content: '\f09a';
  font-family: FontAwesome;
}

.instagram::before {
  content: '\f16d';
  font-family: FontAwesome;
}

.twitter:before {
  content: '\f099';
  font-family: FontAwesome;
}

.linkedin-in:before {
  content: '\f0e1';
  font-family: FontAwesome;
}

.whatsapp:before {
  content: '\f40c';
  font-family: FontAwesome;
}

.youtube:before {
  content: '\f167';
  font-family: FontAwesome;
}

.comment_btn:before {
  content: '\f4ad';
  font-family: FontAwesome;
  font-weight: bold;
}

.send_all_btn:before {
  content: '\f1d8';
  font-family: FontAwesome;
  font-weight: bold;
}

.share_btn:before {
  content: '\f064';
  font-family: FontAwesome;
  font-weight: bold;
}

.email_btn, .link_chain_btn{
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: 0.5s all ease;
  cursor: pointer;
  position: relative;
  &:hover{
    opacity: 0.6;
  }
  &:hover .share-notation {
    visibility: visible;
    opacity: 1;
  }
  .share-notation {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 6px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
}

.email_btn{
  background: url("../../assets/img/email_ico.svg")no-repeat center;
}

.link_chain_btn{
  background: url("../../assets/img/link_chain.svg")no-repeat center;
}


/*-------------breadcrumbs----------------*/
.breadcrumbs {
  padding-bottom: 80px;
  li {
    display: inline-block;
    padding: 0 20px 0 0;
    font-weight: 700;
    vertical-align: middle;
    &:last-of-type{
      padding-right: 0;
    }
    a {
      color: #979797;
      display: block;
      position: relative;
      font-size: 16px;
      line-height: 1.2;
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
      &::before {
        content: '\\';
        position: absolute;
        right: -13px;
        top: -1px;
      }
    }
  }
}

/*----------------------article_content--------------------*/
.article_content {
  position: relative;
  font-weight: normal;
  font-size: 1.1em;
  h2, h3, h4, h5, h6{
    padding-top: 10px;
  }
  p {
    padding-bottom: 20px;
    line-height: 1.7;
  }
  a {
    color: $main_bg_color;
    text-decoration: underline;
    transition: 0.5s ease;
    line-height: 1.7;
    &:hover {
      opacity: 0.8;
    }
  }

  ul {
    padding-bottom: 20px;
    li {
      position: relative;
      padding: 0 0 5px 20px;
      line-height: 1.7;
      display: block;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 11px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $text_color;
      }
    }
  }

  ol {
    counter-reset: item;
    padding-bottom: 20px;
    & > li {
      position: relative;
      padding: 0 0 5px 0;
      line-height: 1.7;
      &::before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        display: inline-block;
        margin-right: 0.5em;
        text-align: right;
      }
    }
  }

  blockquote {
    line-height: 1.7;
    margin: 20px 0 35px;
    position: relative;
    padding-left: 50px;
    font-weight: 500;
    font-size: 1.2em;
    &:before {
      content: "”";
      font-size: 60px;
      position: absolute;
      left: 0;
      top: 6px;
      color: #000;
      line-height: 1;
    }
  }
}

.pt70{
  padding-top: 70px;
}

.pb50{
  padding-bottom: 50px;
}