@font-face {
  font-family: 'FontAwesome';
  src: url("../../assets/fonts/fontawesome/fa-brands-400.eot");
  src: url("../../assets/fonts/fontawesome/fa-brands-400.eot") format('embedded-opentype'),
  url("../../assets/fonts/fontawesome/fa-brands-400.woff2") format('woff2'),
  url("../../assets/fonts/fontawesome/fa-brands-400.woff") format('woff'),
  url("../../assets/fonts/fontawesome/fa-brands-400.ttf") format('truetype'),
  url("../../assets/fonts/fontawesome/fa-brands-400.svg") format('svg');
  font-weight: normal;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../../assets/fonts/fontawesome/fa-regular-400.eot");
  src: url("../../assets/fonts/fontawesome/fa-regular-400.eot") format('embedded-opentype'),
  url("../../assets/fonts/fontawesome/fa-regular-400.woff2") format('woff2'),
  url("../../assets/fonts/fontawesome/fa-regular-400.woff") format('woff'),
  url("../../assets/fonts/fontawesome/fa-regular-400.ttf") format('truetype'),
  url("../../assets/fonts/fontawesome/fa-regular-400.svg") format('svg');
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../../assets/fonts/fontawesome/fa-solid-900.eot");
  src: url("../../assets/fonts/fontawesome/fa-solid-900.eot") format('embedded-opentype'),
  url("../../assets/fonts/fontawesome/fa-solid-900.woff2") format('woff2'),
  url("../../assets/fonts/fontawesome/fa-solid-900.woff") format('woff'),
  url("../../assets/fonts/fontawesome/fa-solid-900.ttf") format('truetype'),
  url("../../assets/fonts/fontawesome/fa-solid-900.svg") format('svg');
  font-weight: 900;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: 'Flink';
  src: url('../../assets/fonts/Flink/Flink-Regular.eot');
  src: local('Flink-Regular'), local('Flink-Regular'),
  url('../../assets/fonts/Flink/Flink-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Flink/Flink-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Flink/Flink-Regular.woff') format('woff'),
  url('../../assets/fonts/Flink/Flink-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flink';
  src: url('../../assets/fonts/Flink/Flink-Bold.eot');
  src: local('Flink-Medium'), local('Flink-Bold'),
  url('../../assets/fonts/Flink/Flink-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Flink/Flink-Bold.woff2') format('woff2'),
  url('../../assets/fonts/Flink/Flink-Bold.woff') format('woff'),
  url('../../assets/fonts/Flink/Flink-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flink';
  src: url('../../assets/fonts/Flink/Flink-ExtraBold.eot');
  src: local('Flink-ExtraBold'), local('Flink-ExtraBold'),
  url('../../assets/fonts/Flink/Flink-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Flink/Flink-ExtraBold.woff2') format('woff2'),
  url('../../assets/fonts/Flink/Flink-ExtraBold.woff') format('woff'),
  url('../../assets/fonts/Flink/Flink-ExtraBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

