header{
  nav {
    ul.menu-wrapper {
      li.menu-item {
        &.menu-item-add {
          a {
            display: flex;
            &::before {
              content: '';
              background-image: url("../../assets/img/plus-circle-svgrepo-com.svg");
              background-size: 100%;
              display: block;
              width: 26px;
              height: 26px;
              align-self: center;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  header{

  }
}