$text_color: #333F3D;
$text_light_color: #879A97;
$main_color: #28303d;
$main_bg_color: #002856;
$light_green_color: #88DFA5;
$light_orange_color: #F8CDC4;
$light_blue_color: #C4D6F8;
$light_brown_color: #E7CC87;
$light_violet_color: #EAE2F7;
$light_pink_color: #F8C4DC;